<h1>Countries</h1>
<div>
    <mat-toolbar color="primary">
      <span>
        <button (click)="add()" color="primary" mat-button style="color: white">
          <mat-icon>add</mat-icon>
            Add a new country
        </button>
      </span>
    </mat-toolbar>
</div>
<div>
    <table [dataSource]="countrysDataSource" class="mat-elevation-z8 departments-table" mat-table>
        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef class="w-75 th-center" mat-header-cell></th>
            <td *matCellDef="let element" mat-cell style="text-align: end">
              <button (click)="edit(element)" *appIsInRole="'admin'" color="primary" mat-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button (click)="delete(element)" *appIsInRole="'admin'" color="warn" mat-button>
                <mat-icon>delete</mat-icon>
              </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell>Id</th>
            <td *matCellDef="let element" mat-cell> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="country">
            <th *matHeaderCellDef mat-header-cell>Country</th>
            <td *matCellDef="let element" mat-cell> {{element.country}} </td>
        </ng-container>
        <ng-container matColumnDef="nationality">
            <th *matHeaderCellDef mat-header-cell>Nationality</th>
            <td *matCellDef="let element" mat-cell> {{element.nationality}} </td>
        </ng-container>
        <tr *matHeaderRowDef="columns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: columns;" mat-row></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10"
                   showFirstLastButtons>
    </mat-paginator>
</div>

