<h1>Persons</h1>
<div>
    <mat-toolbar color="primary">
      <span>
        <button (click)="add()" color="primary" mat-button style="color: white">
          <mat-icon>add</mat-icon>
            Add new person
        </button>
      </span>
    </mat-toolbar>
</div>
<div>
    <table [dataSource]="personsDataSource" class="mat-elevation-z8 departments-table" mat-table>
        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef class="w-75 th-center" mat-header-cell></th>
            <td *matCellDef="let element" mat-cell style="text-align: end">
                <button (click)="edit(element)" color="primary" mat-button>
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="delete(element)" color="warn" mat-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell>Id</th>
            <td *matCellDef="let element" mat-cell> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="firstname">
            <th *matHeaderCellDef mat-header-cell>Firstname</th>
            <td *matCellDef="let element" mat-cell> {{element.firstname}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell>Surname</th>
            <td *matCellDef="let element" mat-cell> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="age">
            <th *matHeaderCellDef mat-header-cell>Age</th>
            <td *matCellDef="let element" mat-cell> {{element.age}} </td>
        </ng-container>
        <ng-container matColumnDef="contactDetails">
            <th *matHeaderCellDef mat-header-cell>Contact Details</th>
            <td *matCellDef="let element" mat-cell> {{element.contactDetails}} </td>
        </ng-container>
        <ng-container matColumnDef="nationality">
            <th *matHeaderCellDef mat-header-cell>Nationality</th>
            <td *matCellDef="let element" mat-cell> {{element.nationality.nationality}} </td>
        </ng-container>
        <tr *matHeaderRowDef="columns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: columns;" mat-row></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10"
                   showFirstLastButtons>
    </mat-paginator>
</div>

